<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.dao.GoodsDao">

	<!-- 查询商品信息记录 -->
	<select id="selectAllGoods" parameterType="Page" resultType="Goods">
		select e.*
		<choose>
			<when test="! gname.equals('') and attribute.equals('') and cateSecName.equals('')">
				from equipment e where equName like CONCAT('%',#{gname},'%') and status = 1
			</when>
			<when test="! attribute.equals('') and ! gname.equals('') and cateSecName.equals('') ">
				from equipment e,category c,categorysecond ca
				where e.cateSecId=ca.cateSecId and ca.cateId=c.cateId
				and c.cateName=#{attribute} and equName like CONCAT('%',#{gname},'%') and status =
				1
			</when>
			<when test="! attribute.equals('') and cateSecName.equals('') and gname.equals('')">
				from equipment e,category c,categorysecond ca
				where e.cateSecId=ca.cateSecId and ca.cateId=c.cateId
				and c.cateName=#{attribute} and status = 1
			</when>
			<when test="!cateSecName.equals('') and ! gname.equals('')">
				from equipment e LEFT JOIN categorysecond ca on e.cateSecId=ca.cateSecId
				JOIN category c on ca.cateId=c.cateId AND ca.cateSecName=#{cateSecName} and equName like
				CONCAT('%',#{gname},'%')
				and status = 1
			</when>
			<when test="!cateSecName.equals('') and gname.equals('')">
				from equipment e LEFT JOIN categorysecond ca on e.cateSecId=ca.cateSecId
				JOIN category c on ca.cateId=c.cateId AND ca.cateSecName=#{cateSecName}
				and status = 1
			</when>

			<otherwise>
				from equipment e where status = 1
			</otherwise>
		</choose>
		limit #{begin},#{limitPage};
	</select>

	<!--查找销售一级或全部商品的数量 -->
	<select id="findAllNum" resultType="int">
		select count(e_id)
		<choose>
			<when test="! search.equals('') and cateType.equals('') and cateSecName.equals('')">
				from equipment e where equName like CONCAT('%',#{search},'%') and status = 1
			</when>
			<when test="! cateType.equals('') and cateSecName.equals('') and ! search.equals('')">
				from equipment e,category c,categorysecond ca
				where e.cateSecId=ca.cateSecId and ca.cateId=c.cateId
				and c.cateName=#{cateType} and equName like CONCAT('%',#{search},'%') and status =
				1
			</when>
			<when test="! cateType.equals('') and cateSecName.equals('') and search.equals('')">
				from equipment e,category c,categorysecond ca
				where e.cateSecId=ca.cateSecId and ca.cateId=c.cateId and status = 1
				and c.cateName=#{cateType}
			</when>
			<when test="!cateSecName.equals('') and ! search.equals('')">
				from equipment e LEFT JOIN categorysecond ca on e.cateSecId=ca.cateSecId
				JOIN category c on ca.cateId=c.cateId AND ca.cateSecName=#{cateSecName} and equName like
				CONCAT('%',#{search},'%')
				and status = 1
			</when>
			<when test="!cateSecName.equals('') and search.equals('')">
				from equipment e LEFT JOIN categorysecond ca on e.cateSecId=ca.cateSecId
				JOIN category c on ca.cateId=c.cateId AND ca.cateSecName=#{cateSecName}
				and status = 1
			</when>
			<otherwise>
				from equipment e where status = 1
			</otherwise>
		</choose>
	</select>

	<!--查找销售最热商品的数量 -->
	<select id="findHotNum" resultType="int">
		SELECT COUNT(e_id) from equipment where isHot = 1
	</select>

	<!--首页分页展示最热商品 -->
	<select id="indexShow" parameterType="Page" resultType="Goods">
		select * from equipment where isHot = 1 limit #{begin},#{limitPage};
	</select>

	<!--查询所有的一级分类 -->

	<!-- 一对多关联，多的一方使用collection表示 -->
	<resultMap type="Category" id="CategoryList">
		<id property="cateId" column="cateId" />
		<result property="cateName" column="cateName" />
		<collection property="categorysecond" javaType="ArrayList" ofType="Categorysecond">
			<id property="cateSecId" column="cateSecId" />
			<result property="cateSecName" column="cateSecName" />
		</collection>
	</resultMap>
	<select id="findAllCate" resultMap="CategoryList">
		SELECT category.*,categorysecond.* from
		categorysecond JOIN category ON category.cateId=categorysecond.cateId;
	</select>

	<!--查询所有的二级分类 -->
	<select id="findAllCateSec" resultType="Categorysecond">
		select * from categorysecond;
	</select>

	<!--根据商品id查询商品信息 -->
	<select id="findByGoodsId" resultType="Goods">
		select * from equipment where e_id =#{goodsId};
	</select>

	<!-- 更改数据库商品数量:减去购买的数量 -->
	<update id="updateGoodsNum" parameterType="java.util.List">
		<foreach collection="list" item="orderItems" separator=";">
			UPDATE equipment
			<set>
				number = number - #{orderItems.goodNum}
			</set>
			<where>
				e_id = #{orderItems.good.e_id}
			</where>
		</foreach>
	</update>

	<!-- 发布商品 -->
	<insert id="insertGoods">
		insert into equipment (equName,sellPrice,marketPrice,number,equDescription,equPicture,cateSecId,uid,`status`,releaseTime)
		value(#{equName},#{sellPrice},#{marketPrice},#{number},
		#{equDescription},#{equPicture},#{cateSecId},
		#{uid},#{status},#{releaseTime})
	</insert>

	<!--后台管理员数据操作部分 -->
	<!--查找所有商品 -->
	<select id="backSelectAllGoods" resultType="Goods">
		select * from equipment
		<if test="keyWord != null and keyWord !=''">
			where equName like '%${keyWord}%'
		</if>
	</select>
	
	<!-- /*审核商品*/ -->
	<update id="updateStatus" >
		update equipment set status = #{1} where e_id in (#{0})
	</update>
	
	<!-- /*批量审核商品*/ -->
	<update id="updateMoreGoods" >
		update equipment set status = #{1} where e_id in (#{0})
	</update>
	
	
	<!--批量删除商品 -->
	<delete id="deleteMoreGoods">
		delete from equipment where e_id in (#{1});
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
	