<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.dao.UserDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap" type="com.dy.model.User">
		<!-- <id column="USER_ID" property="userId" jdbcType="INTEGER" /> <result column="USER_NAME" property="userName" jdbcType="CHAR" /> <result column="USER_PASSWORD" property="userPassword" jdbcType="CHAR" 
			/> -->
	</resultMap>

	<!-- 查询单条记录 -->
	<select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM usertable WHERE u_id = #{u_id}
	</select>

	<!--用户登录验证 -->
	<select id="userProve" parameterType="String" resultType="User">
		select * from userTable where userName=#{0} and userPassWord =#{1}
	</select>

	<!--用户名匹配 -->
	<select id="selectByUserName" parameterType="String" resultType="int">
		select u_id from userTable where userName=#{0}
	</select>

	<!--用户注册 -->
	<insert id="userRegist" parameterType="User">
		insert into userTable(userName,userPassWord,email,telephone,addressName,address) 
		values(#{userName},#{userPassWord},#{email},#{telephone},#{addressName},#{address});
	</insert>

	<!--后台管理员数据操作部分 -->
	<!--查找所有用户 -->
	<select id="selectAllUser" resultType="User">
		select * from userTable
		<if test="keyWord != null and keyWord !=''">
			where userName like '%${keyWord}%'
		</if>
	</select>

	<!--改变用户Status -->
	<update id="updateStatus">
		update usertable set userStatus =#{1} where u_id=#{0}
	</update>

	<!--删除用户 -->
	<delete id="deleteAccount">
		delete from usertable where u_id=#{1}
	</delete>

	<!--批量删除用户 -->
	<delete id="deleteMoreAccount">
		delete from usertable where u_id in (${id});
	</delete>

	<!--修改用户信息 -->
	<delete id="updateAccount">
		update usertable
		set userName=#{userName},userPassWord=#{userPassWord},
		telephone=#{telephone},email=#{email},
		userStatus=#{userStatus},addressName=#{addressName},
		address=#{address},type=#{type}
		WHERE u_id =#{u_id}
	</delete>

	<!--后台增加用户 -->
	<insert id="addAccount">
		INSERT into usertable(userName,userPassWord,telephone,email,userStatus,addressName,address,type)
		value(#{userName},#{userPassWord},#{telephone},#{email},#{userStatus},#{addressName},#{address},#{type})
	</insert>

	<!--查看用户发布的商品数
	<resultMap id="userResultMap" type="User">

	</resultMap> -->
	<resultMap id="goodsResultMap" type="Goods">
		<id property="e_id" column="e_id" />
		<result property="equName" column="equName"/>
		<association property="user" javaType="User" >
			<id property="u_id" column="u_id"></id>
			<result property="countNum" column="countNum" />
			<result property="userName" column="userName"/>
		</association>
	</resultMap>
	<select id="selectUserReleaseGoods" resultMap="goodsResultMap" >
		SELECT u.u_id,u.userName,count(e.uid) as countNum FROM equipment e,usertable u
		where u.u_id=e.uid
		<if test="!releaseTime.equals('') and releaseTime!=null">
			and TO_DAYS(NOW()) - TO_DAYS(releaseTime) &lt;=#{releaseTime}
		</if>
		GROUP BY e.uid
	</select>
	<!-- <select id = "selectUserReleaseGoods" resultMap="goodsResultMap">
		select e.*,u.* from equipment e,usertable u
		where e.uid = u.u_id 
	</select> -->

</mapper>